# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Project specific

# Ignore all files inside the 'chroma' directory but not the directory itself,
# except .gitkeep so that empty directories are tracked.
chroma/*
!chroma/
!chroma/.gitkeep

# Ignore all files inside the 'data' directory but not the directory itself,
# except .gitkeep so that empty directories are tracked.
data/*
!data/
!data/.gitkeep

.DS_Store
backup/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log